<div class="content">
    <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                      <div class="card-body ">
                        <div class="row">
                          <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-single-02"></i>
                            </div>
                          </div>
                          <div class="col-7 col-md-8">
                            <div class="numbers">
                              <p class="card-category">Usuarios</p>
                              <p class="card-title">4
                                <p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer ">
                        <hr>
                        <div class="stats">
                          <a data-animation_scroll="true" href="#users"><i class="nc-icon nc-compass-05"></i>Usuarios</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-body ">
                            <div class="row">
                              <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-align-center"></i>
                                </div>
                              </div>
                              <div class="col-7 col-md-8">
                                <div class="numbers">
                                  <p class="card-category">Categorias</p>
                                  <p class="card-title">7
                                    <p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer ">
                            <hr>
                            <div class="stats">
                              <a data-animation_scroll="true" href="#categories"><i class="nc-icon nc-compass-05"></i>Categorias</a>
                            </div>
                          </div>
                        </div>
                      </div>
        



                      <div id="users" class="col-md-12">
                            <div class="card">
                              <div class="card-header">
                                <h4 class="card-title"> Simple Table</h4>
                              </div>
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table">
                                    <thead class=" text-primary">
                                      <tr><th>
                                        Nome
                                      </th>
                                      <th>
                                        E-mail
                                      </th>
                                      <th>
                                        Login
                                      </th>
                                      <th>
                                            Inadmin
                                          </th>
                                      <th class="text-right">
                                        Editar | Excluir
                                      </th>
                                    </tr></thead>
                                    <tbody>
                                            <tr>
                                                    <td>
                                                      Dakota Rice
                                                    </td>
                                                    <td>
                                                      Niger
                                                    </td>
                                                    <td>
                                                      Oud-Turnhout
                                                    </td>
                                                    <td>
                                                            Nao
                                                          </td>
                                                    <td class="text-right">
                                                      <a style="padding-right: 50px;" href="#"><i class="nc-icon nc-paper"></i></a>
                                                      
                                                      <a style="padding-right: 20px;" href="#"><i class="nc-icon nc-scissors"></i></a>
                                                    </td>
                                                  </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="categories" class="col-md-12">
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card-title"> Categorias</h4>
                                  </div>
                                  <div class="card-body">
                                    <div class="table-responsive">
                                      <table class="table">
                                        <thead class=" text-primary">
                                          <tr><th>
                                            Name
                                          </th>
                                          <th>
                                            Country
                                          </th>
                                          <th>
                                            City
                                          </th>
                                          <th class="text-right">
                                            Salary
                                          </th>
                                        </tr></thead>
                                        <tbody>
                                          <tr>
                                            <td>
                                              Dakota Rice
                                            </td>
                                            <td>
                                              Niger
                                            </td>
                                            <td>
                                              Oud-Turnhout
                                            </td>
                                            <td class="text-right">
                                              $36,738
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              Minerva Hooper
                                            </td>
                                            <td>
                                              Curaçao
                                            </td>
                                            <td>
                                              Sinaai-Waas
                                            </td>
                                            <td class="text-right">
                                              $23,789
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              Sage Rodriguez
                                            </td>
                                            <td>
                                              Netherlands
                                            </td>
                                            <td>
                                              Baileux
                                            </td>
                                            <td class="text-right">
                                              $56,142
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              Philip Chaney
                                            </td>
                                            <td>
                                              Korea, South
                                            </td>
                                            <td>
                                              Overland Park
                                            </td>
                                            <td class="text-right">
                                              $38,735
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              Doris Greene
                                            </td>
                                            <td>
                                              Malawi
                                            </td>
                                            <td>
                                              Feldkirchen in Kärnten
                                            </td>
                                            <td class="text-right">
                                              $63,542
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              Mason Porter
                                            </td>
                                            <td>
                                              Chile
                                            </td>
                                            <td>
                                              Gloucester
                                            </td>
                                            <td class="text-right">
                                              $78,615
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              Jon Porter
                                            </td>
                                            <td>
                                              Portugal
                                            </td>
                                            <td>
                                              Gloucester
                                            </td>
                                            <td class="text-right">
                                              $98,615
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
    </div>
</div>